{{ log 'rollDisplay this: ' this }}
<li class="roller-roll-display{{#if rollsActive}} active-roll{{/if}}{{#if isIgnored}} roller-roll-display-discarded{{/if}}{{#if isManual}} reroll{{/if}}" id="roll-{{index}}-container">
    {{#if isIgnored}}
    <div class="roll-label">IGNORED ROLL</div>
    {{else}}
    <div class="roll-label">Roll #{{ index }}{{#if isManual}} (set manually){{/if}}</div>
    {{/if}}
    <div class="roll-render">
        <ol class="roll-results">
        {{#each roll.roll.dice.[0].results }}
            <li class="d6{{#if discarded}} discarded-die{{/if}}">{{ result }}</li>
        {{/each}}
        </ol>
    </div>
    <div class="{{#if isManual}}reroll{{/if}}" id="roll-{{index}}-total">
        Total: {{ roll.roll.total }}
    </div>
    {{#unless isIgnored}}
    <div class="stat-picker-label">Ability score:
        <select id="roll-{{index}}-stat" class="stat-selector">
            <option value="Empty" selected="true">---</option>
            <option value="str">Strength</option>
            <option value="dex">Dexterity</option>
            <option value="con">Constitution</option>
            <option value="int">Intelligence</option>
            <option value="wis">Wisdom</option>
            <option value="cha">Charisma</option>
        </select>
    </div>
    {{/unless}}
</li>