{{ debug }}
<tr class="diff-table-row">
    <td><input type="checkbox" id="{{key}}" /></td>
    <td>{{ desc }}</td>
    <td>{{ lookup existingItem key }}</td>
    <td>{{ lookup originalItem key }}</td>
</tr>