<div class="body">
    <div class="title">
        <span class="application-title">Item Restore</span>
    </div>
    <!--<div class="messages">
        <p class="instruction-header">Instructions:</p>
        <p class="instruction-messages">If you wish to restore this item click the "Restore Item" button.</p>
    </div>-->
    <div class="buttons">
        <p class="restore-item-button">Replace Entire Item</p>
    </div>
    <div class="item-diff">
        <table>
            <thead>
                <td>Keep?</td>
                <td>Field Name</td>
                <td>{{existingItem.name}} on {{actor.name}}</td>
                <td>Reference Item</td>
            </thead>
            <tbody>
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">General Properties</th>
                </tr>
                {{ diffrow "name" "Name" }}
                {{ diffrow "system.equipped" "Equipped?" }}
                {{ diffrow "system.identified" "Identified?" }}
                {{ diffrow "system.rarity" "Rarity" }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Description</th>
                </tr>
                {{ diffrow "system.quantity" "Quantity" }}
                {{ diffrow "system.weight" "Weight" }}
                {{ diffrow "system.price.value" "Price (value)" }}
                {{ diffrow "system.price.denomination" "Price (denomination)" }}
                {{ diffrow "system.description.value" "Description" }}
                <!-- {{ diffrow "system.unidentified.name" "Unidentified Name" }}
                {{ diffrow "system.unidentified.description" "Unidentified Description" }} -->
                {{ diffrow "system.description.chat" "Chat Description" }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details</th>
                </tr>
                {{ diffrow "system.type.value" "Type" }}
                {{ diffrow "system.type.baseItem" "Base Item" }}
                {{ diffrow "system.attunement" "Attunement" }}
                <!-- properties -->
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details (Usage)</th>
                </tr>
                {{ diffrow "system.activation.cost" "Activation Cost" }}
                {{ diffrow "system.activation.type" "Activation Type" }}
                {{ diffrow "system.activation.condition" "Activation Condition" }}
                {{ diffrow "system.target.value" "Target (Qty)" }}
                {{ diffrow "system.target.units" "Target (Units)" }}
                {{ diffrow "system.target.type" "Target (Type)" }}
                {{ diffrow "system.range.value" "Range (Normal)" }}
                {{ diffrow "system.range.long" "Range (Long)" }}
                {{ diffrow "system.range.units" "Range (Units)" }}
                {{ diffrow "system.duration.value" "Duration (#)" }}
                {{ diffrow "system.duration.units" "Duration (Units)" }}
                {{ diffrow "system.uses.value" "Uses (#)" }}
                {{ diffrow "system.uses.max" "Uses (Max)" }}
                {{ diffrow "system.uses.per" "Uses (Per)" }}
                {{ diffrow "system.uses.recovery" "Recovery Formula" }}
                {{ diffrow "system.uses.autoDestroy" "Destroy When Empty?" }}
                {{ diffrow "system.consume.amount" "Resource Consumption (Amount)" }}
                {{ diffrow "system.consume.type" "Resource Consumption (Type)" }}
                {{ diffrow "system.consume.target" "Resource Consumption (Target)" }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details (Attack)</th>
                </tr>
                {{ diffrow "system.actionType" "Action Type" }}
                {{ diffrow "system.ability" "Ability Modifier" }}
                {{ diffrow "system.attack.bonus" "Attack Roll Bonus" }}
                {{ diffrow "system.attack.flat" "Flat Bonus" }}
                {{ diffrow "system.critical.threshold" "Critical Hit Threshold" }}
                {{ diffrow "system.critical.damage" "Extra Critical Hit Damage" }}
                <!-- damage parts -->
                {{ diffrow "system.damagae.versatile" "Versatile Damage" }}
                {{ diffrow "system.formula" "Other Formula" }}
                {{ diffrow "system.save.ability" "Saving Throw (Ability)" }}
                {{ diffrow "system.save.dc" "Saving Throw (DC)" }}
                {{ diffrow "system.save.scaling" "Saving Throw (Scaling)" }}
                {{ diffrow "system.chatFlavor" "Chat Message Flavor" }}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <p class="update-item-button">Keep Selected Fields and Update</p>
    </div>
</div>