<div class="body">
    <div class="title">
        <span class="application-title">Item Restore</span>
    </div>
    <!--<div class="messages">
        <p class="instruction-header">Instructions:</p>
        <p class="instruction-messages">If you wish to restore this item click the "Restore Item" button.</p>
    </div>-->
    <div class="buttons">
        <p class="restore-item-button">Replace Entire Item</p>
    </div>
    <div class="item-diff">
        <table>
            <thead>
                <td>Keep?</td>
                <td>Field Name</td>
                <td>{{existingItem.name}} on {{actor.name}}</td>
                <td>Reference Item</td>
            </thead>
            <tbody>
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">General Properties</th>
                </tr>
                {{ diffrow diff "name" "Name" existingItem originalItem }}
                {{ diffrow diff "system.equipped" "Equipped?" existingItem originalItem }}
                {{ diffrow diff "system.identified" "Identified?" existingItem originalItem }}
                {{ diffrow diff "system.rarity" "Rarity" existingItem originalItem }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Description</th>
                </tr>
                {{ diffrow diff "system.quantity" "Quantity" existingItem originalItem }}
                {{ diffrow diff "system.weight" "Weight" existingItem originalItem }}
                {{ diffrow diff "system.price.value" "Price (value)" existingItem originalItem }}
                {{ diffrow diff "system.price.denomination" "Price (denomination)" existingItem originalItem }}
                {{ diffrow diff "system.description.value" "Description" existingItem originalItem }}
                <!-- {{ diffrow diff "system.unidentified.name" "Unidentified Name" existingItem originalItem }}
                {{ diffrow diff "system.unidentified.description" "Unidentified Description" existingItem originalItem }} -->
                {{ diffrow diff "system.description.chat" "Chat Description" existingItem originalItem }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details</th>
                </tr>
                {{ diffrow diff "system.type.value" "Type" existingItem originalItem }}
                {{ diffrow diff "system.type.baseItem" "Base Item" existingItem originalItem }}
                {{ diffrow diff "system.attunement" "Attunement" existingItem originalItem }}
                <!-- properties -->
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details (Usage)</th>
                </tr>
                {{ diffrow diff "system.activation.cost" "Activation Cost" existingItem originalItem }}
                {{ diffrow diff "system.activation.type" "Activation Type" existingItem originalItem }}
                {{ diffrow diff "system.activation.condition" "Activation Condition" existingItem originalItem }}
                {{ diffrow diff "system.target.value" "Target (Qty)" existingItem originalItem }}
                {{ diffrow diff "system.target.units" "Target (Units)" existingItem originalItem }}
                {{ diffrow diff "system.target.type" "Target (Type)" existingItem originalItem }}
                {{ diffrow diff "system.range.value" "Range (Normal)" existingItem originalItem }}
                {{ diffrow diff "system.range.long" "Range (Long)" existingItem originalItem }}
                {{ diffrow diff "system.range.units" "Range (Units)" existingItem originalItem }}
                {{ diffrow diff "system.duration.value" "Duration (#)" existingItem originalItem }}
                {{ diffrow diff "system.duration.units" "Duration (Units)" existingItem originalItem }}
                {{ diffrow diff "system.uses.value" "Uses (#)" existingItem originalItem }}
                {{ diffrow diff "system.uses.max" "Uses (Max)" existingItem originalItem }}
                {{ diffrow diff "system.uses.per" "Uses (Per)" existingItem originalItem }}
                {{ diffrow diff "system.uses.recovery" "Recovery Formula" existingItem originalItem }}
                {{ diffrow diff "system.uses.autoDestroy" "Destroy When Empty?" existingItem originalItem }}
                {{ diffrow diff "system.consume.amount" "Resource Consumption (Amount)" existingItem originalItem }}
                {{ diffrow diff "system.consume.type" "Resource Consumption (Type)" existingItem originalItem }}
                {{ diffrow diff "system.consume.target" "Resource Consumption (Target)" existingItem originalItem }}
                <tr class="diff-table-row">
                    <th></th>
                    <th colspan="3">Details (Attack)</th>
                </tr>
                {{ diffrow diff "system.actionType" "Action Type" existingItem originalItem }}
                {{ diffrow diff "system.ability" "Ability Modifier" existingItem originalItem }}
                {{ diffrow diff "system.attack.bonus" "Attack Roll Bonus" existingItem originalItem }}
                {{ diffrow diff "system.attack.flat" "Flat Bonus" existingItem originalItem }}
                {{ diffrow diff "system.critical.threshold" "Critical Hit Threshold" existingItem originalItem }}
                {{ diffrow diff "system.critical.damage" "Extra Critical Hit Damage" existingItem originalItem }}
                <!-- damage parts -->
                {{ diffrow diff "system.damagae.versatile" "Versatile Damage" existingItem originalItem }}
                {{ diffrow diff "system.formula" "Other Formula" existingItem originalItem }}
                {{ diffrow diff "system.save.ability" "Saving Throw (Ability)" existingItem originalItem }}
                {{ diffrow diff "system.save.dc" "Saving Throw (DC)" existingItem originalItem }}
                {{ diffrow diff "system.save.scaling" "Saving Throw (Scaling)" existingItem originalItem }}
                {{ diffrow diff "system.chatFlavor" "Chat Message Flavor" existingItem originalItem }}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <p class="restore-item-button">Keep Selected Fields and Update</p>
    </div>
</div>