<div class="body">
    <div class="title">
        <span class="application-title">Item Restore</span>
    </div>
    <div class="buttons">
        <p class="restore-item-button">Replace Entire Item</p>
    </div>
    {{#if diff}}
    <div class="item-diff">
        <table>
            <thead>
                <td>Keep?</td>
                <td>Field Name</td>
                <td>{{existingItem.name}} on {{actor.name}}</td>
                <td>Reference Item</td>
            </thead>
            <tbody>
                {{#each diff}}
                    <tr class="diff-table-row">
                        <th></th>
                        <th colspan="3">{{section}}</th>
                    </tr>
                    {{#each fields}}
                    <tr class="diff-table-row" id="{{field}}-row">
                        <td><input type="checkbox" class="diff-ckbox" id="{{field}}" /></td>
                        <td>{{label}}</td>
                        <td class="diff-exclude" id="{{field}}-existing">{{existing}}</td>
                        <td class="diff-keep" id="{{field}}-orig">{{reference}}</td>
                    </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <p class="update-item-button">Keep Selected Fields and Update</p>
    </div>
    {{else}}
    <div class="messages">
        <p>No differences detected, you may still chosoe to replace the entire item to force a refresh.</p>
    </div>
    {{/if}}
</div>