{{#*inline "pages"}}
<ul class="pages">
    {{ log pages }}
    {{#each pages}}
    {{#unless flags.materia-dnd.tocHidden}}
    <li class="{{#if (and showPages pages.length)}}child-pages{{/if}} {{#if entry}}special-entry{{/if}}">
        <a class="journal-entry-page-link"
           {{~#if entry}} data-document-id="{{ id }}" data-entry-id="{{ id }}"
           {{~else}} data-page-id="{{ id }}" {{#if entryId}}data-entry-id="{{ entryId }}"{{/if}}{{/if}}>{{ name }}</a>
        {{#if (and showPages pages.length)}}{{> "pages" }}{{/if}}
    </li>
    {{/unless}}
    {{/each}}
</ul>
{{/inline}}

<article>
    {{ log header }}
    {{#if header}}
    <aside>
        <header>
            <h2>{{ header.title }}</h2>
        </header>
        <section>{{{ header.content }}}</section>
    </aside>
    {{/if}}
    <div class="contents">
        <header>
            <h2>{{ localize "DND5E.Contents" }}</h2>
        </header>
        <section>
            {{ log chapters }}
            {{#each chapters}}
            <div class="chapter" data-document-id="{{ id }}" data-entry-id="{{ id }}">
                <h3><a class="journal-entry-link">{{ name }}</a></h3>
                {{#if (and showPages pages.length)}}{{> "pages" }}{{/if}}
            </div>
            {{/each}}
        </section>
    </div>
</article>
